@using HotelManagementSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using HotelManagementSystem.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="icon" href="~/favicon.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/general/css/bootstrap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/general/vendors/linericon/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/general/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/general/vendors/owl-carousel/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/general/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/general/vendors/nice-select/css/nice-select.css" asp-append-version="true">
    <link rel="stylesheet" href="~/general/vendors/owl-carousel/owl.carousel.min.css" asp-append-version="true">

    <!-- main css -->
    <link rel="stylesheet" href="~/general/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/general/css/responsive.css" asp-append-version="true">
</head>
<body>
    <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/general/image/Logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto" id="nav-bar">
                            <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="AboutUs" asp-action="">About us</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Accommodations" asp-action="">Accommodations</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Gallery" asp-action="">Gallery</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contact" asp-action="">Contact</a></li>
                            @if (this.SignInManager.IsSignedIn(this.User))
                            {
                                <li class="nav-item"><a class="nav-link" asp-controller="Bookings" asp-action="">Bookings</a></li>

                                if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Administration" asp-controller="General" asp-action="">Admin panel</a>
                                    </li> 
                                }
                                else if (this.User.IsInRole(GlobalConstants.ReceptionistRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Administration" asp-controller="ActiveBookings" asp-action="">Admin panel</a>
                                    </li> 
                                }
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                        <button type="submit" class="nav-link btn btn-link" style="cursor: pointer;">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        @if (this.ViewData["IsUserOnHomePage"] != null && (bool)this.ViewData["IsUserOnHomePage"] == true)
        {
            <section class="banner_area">
                <div class="booking_table d_flex align-items-center">
            	    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				    <div class="container">
					    <div class="banner_content text-center">
						    <h6>Away from monotonous life</h6>
						    <h2>Relax Your Mind</h2>
						    <p>While you enjoy a cocktail by the swimming pool on the rooftop terrace,<br />you will be stunned by the breathtaking view</p>
					    </div>
				    </div>
                </div>
                <div class="hotel_booking_area position">
                    <div class="container">
                        <div class="hotel_booking_table">
                            <div class="col-md-3">
                                <h2>Book<br> Your Room</h2>
                            </div>
                            <div class="col-md-9">
                                <form method="get" asp-controller="Home" asp-action="Search">
                                    <div class="boking_table">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="book_tabel_item">
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker11'>
                                                            <input type='text' class="form-control" name="CheckIn" id="CheckIn" placeholder="Arrival Date"/>
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            <input type='text' class="form-control" name="CheckOut" id="CheckOut" placeholder="Departure Date"/>
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="book_tabel_item">
                                                    <div class="input-group">
                                                        <select class="wide" name="GuestsCount" id="GuestsCount">
                                                            <option data-display="Guests" value="0">Number of Guests</option>
                                                            <option value="1">1 Guest</option>
                                                            <option value="2">2 Guest</option>
                                                            <option value="3">3 Guest</option>
                                                            <option value="4">4 Guest</option>
                                                            <option value="5">5 Guest</option>
                                                        </select>
                                                    </div>
                                                    <input class="book_now_btn button_hover" type="submit" value="Search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        }
        else
        {
            <section class="breadcrumb_area">
                <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="page-cover text-center">
                        <h2 class="page-cover-tittle">@ViewData["Title"]</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </div>
                </div>
            </section>
        }
    
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>
    
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About the hotel</h6>
                        <p>Royal Hotel features a terrace and views of the city. Among the facilities of this property are a restaurant, a 24-hour front desk and room service, along with free WiFi.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navigation Links</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a asp-area="" asp-controller="Home">Home</a></li> 
                                    <li><a asp-area="" asp-controller="AboutUs">About us</a></li>
                                    <li><a asp-area="" asp-controller="Accommodations">Accommodations</a></li>
                                    <li><a asp-area="" asp-controller="Gallery">Gallery</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style" style="position: relative; left: 50px;">
                                    <li><a asp-area="" asp-controller="Contact">Contact</a></li>
                                    @if (this.SignInManager.IsSignedIn(this.User))
                                    {
                                        <li><a asp-controller="Bookings">Bookings</a></li>

                                        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                        {
                                            <li>
                                                <a asp-area="Administration" asp-controller="General" style="width: 100px;">Admin panel</a>
                                            </li> 
                                        }
                                        else if (this.User.IsInRole(GlobalConstants.ReceptionistRoleName))
                                        {
                                            <li>
                                                <a asp-area="Administration" asp-controller="ActiveBookings">Admin panel</a>
                                            </li> 
                                        }
                                    }
                                </ul>
                            </div>										
                        </div>							
                    </div>
                </div>							
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Quick question</h6>
                        <p>If you have any quick question - don't hesitate, ask!</p>		
                        <div id="mc_embed_signup">
                            <form action="javascript:void(0);" method="post" id="contactForm" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="email" id="email" placeholder="Email Address" type="text">
                                    <input name="question" id="question" placeholder="Question" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>		
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="~/general/image/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="~/general/image/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="~/general/image/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="~/general/image/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="~/general/image/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="~/general/image/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="~/general/image/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="~/general/image/instagram/Image-08.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>						
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </footer>

    <script src="~/general/js/jquery-3.2.1.min.js" asp-append-version="true"></script>
    <script src="~/general/js/popper.js" asp-append-version="true"></script>
    <script src="~/general/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/general/vendors/owl-carousel/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/general/js/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
    <script src="~/general/js/mail-script.js" asp-append-version="true"></script>
    <script src="~/general/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/general/vendors/nice-select/js/jquery.nice-select.js" asp-append-version="true"></script>
    <script src="~/general/js/mail-script.js" asp-append-version="true"></script>
    <script src="~/general/js/stellar.js" asp-append-version="true"></script>
    <script src="~/general/vendors/lightbox/simpleLightbox.min.js" asp-append-version="true"></script>
    <script src="~/general/js/custom.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@@emailjs/browser@3/dist/email.min.js"></script>
    <script>
		let listElements = document.getElementById("nav-bar").getElementsByTagName("li");
		let listToArray = Array.from(listElements);
		let url = window.location.href.toLowerCase();

		let listElement = listToArray.filter(x => url.includes(x.innerText.replaceAll(' ','').toLowerCase()))[0];
        if (url !== "https://localhost:44319/") {
		    listElement.classList.add("active");
            listElements[0].classList.remove("active");
        }
    </script>

    <script>
        let contactForm = document.getElementById("contactForm");
        contactForm.addEventListener("submit", (e) => {
            const data = Object.fromEntries(new FormData(e.target).entries());
            console.log(e.target)
            emailjs.send('service_96allcn', 'template_tj80i3t', data, "NkrK2L9jgcu6lSu_q")
                .then(function() {
                    console.log('SUCCESS!');
                }, function(error) {
                    console.log('FAILED...', error);
                });

            e.target.reset();
        });
    </script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
