@using HotelManagementSystem.Web.ViewModels.Area.Administration.ManageBookings
@model BookingsListViewModel
@{
    this.ViewData["Title"] = "All bookings";
    var bookingCount = 0;
}

<section id="general">

    <div class="content-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="welcome col-md-12">
        <a asp-area="Administration" asp-controller="ManageBookings" asp-action="Search" class="genric-btn primary">Add</a>

        @if (Model.Bookings != null && Model.Bookings.Count() > 0)
        {

            <table class="table table-bordered">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Accommodation</th>
                        <th scope="col">Booking information</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var booking in Model.Bookings)
                    {
                        bookingCount++;

                        <tr>
                            <th scope="row">@bookingCount</th>
                            <td>
                                <strong>Name:</strong> @booking.Username
                                <br />
                                <strong>Phone:</strong> @booking.PhoneNumber
                                <br />
                                @if (!string.IsNullOrWhiteSpace(booking.Email))
                                {
                                    <strong>Email: </strong>@booking.Email
                                    <br />
                                }
                                <strong>Accommodation booked online: </strong>@(booking.ISBookedOnline ? "Yes" : "No")
                            </td>
                            <td>
                                <strong>Accommodation:</strong> @booking.AccommodationName
                                <br />
                                <strong>Bed types:</strong>
                                <ul>
                                    @foreach (var bedType in booking.BedTypes)
                                    {
                                        <li>@bedType</li>
                                    }
                                </ul>
                            </td>

                            <td>
                                <strong>@booking.CheckIn</strong> - <strong>@booking.CheckOut</strong> 
                                <br />
                                <strong>Guests:</strong> @booking.GuestsCount
                                <br />
                                <strong>Price:</strong> $@booking.Price
                                <br />
                                <strong>Facilities included:</strong>
                                <ul>
                                    @foreach (var facility in booking.Facilities)
                                    {
                                        <li>@facility</li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <a asp-area="Administration" asp-controller="ManageBookings" asp-action="Edit" asp-route-id="@booking.Id" class="genric-btn primary">Edit</a>
                                <form method="post" asp-area="Administration" asp-controller="ManageBookings" asp-action="Cancel" asp-route-id="@booking.Id" style="display: inline-block;">
                                    <input type="submit" class="genric-btn danger" value="Cancel" />
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <p>No booking found.</p>
        }

        <a asp-area="Administration" asp-controller="ManageBookings" asp-action="Search" class="genric-btn primary">Add</a>
    </div>
</section>
<br />