@using HotelManagementSystem.Web.ViewModels.Area.Administration.ManageBookings
@model BookingsListViewModel
@{
    this.ViewData["Title"] = "Active bookings";
    var bookingCount = 0;
}

<section id="general">

    <div class="content-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    @if (this.TempData.ContainsKey("AddBookingAdmin"))
    {
        <br />
        <div class="alert alert-success margins-temp">@this.TempData["AddBookingAdmin"]</div>
    }

    @if (this.TempData.ContainsKey("DeleteBookingAdmin"))
    {
        <br />
        <div class="alert alert-success margins-temp">@this.TempData["DeleteBookingAdmin"]</div>
    }

    @if (this.TempData.ContainsKey("ChangedStatus"))
    {
        <br />
        <div class="alert alert-success margins-temp">@this.TempData["ChangedStatus"]</div>
    }

    <div class="welcome col-md-12">
        <a asp-area="Administration" asp-controller="ActiveBookings" asp-action="Search" class="genric-btn primary">Add</a>
        <hr />

        @if (Model.Bookings != null && Model.Bookings.Count() > 0)
        {

            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Accommodation</th>
                        <th scope="col">Booking information</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var booking in Model.Bookings)
                    {
                        bookingCount++;

                        <tr>
                            <th scope="row">@bookingCount</th>
                            <td>
                                <strong>Name:</strong> @booking.Username
                                <br />
                                <strong>Phone:</strong> @booking.PhoneNumber
                                <br />
                                @if (!string.IsNullOrWhiteSpace(booking.Email))
                                {
                                    <strong>Email: </strong>@booking.Email
                                    <br />
                                }
                                <strong>Online booked: </strong>@(booking.ISBookedOnline ? "Yes" : "No")
                            </td>
                            <td>
                                <strong>Accommodation:</strong> @booking.AccommodationName
                                <br />
                                <strong>Bed types:</strong>
                                <ul>
                                    @foreach (var bedType in booking.BedTypes)
                                    {
                                        <li>@bedType</li>
                                    }
                                </ul>
                            </td>

                            <td>
                                <strong>@booking.CheckIn</strong> - <strong>@booking.CheckOut</strong> 
                                <br />
                                <strong>Guests:</strong> @booking.GuestsCount
                                <br />
                                <strong>Price:</strong> $@booking.Price.ToString("f2")
                                <br />
                                <strong>Facilities included:</strong>
                                <ul>
                                    @foreach (var facility in booking.Facilities)
                                    {
                                        <li>@facility</li>
                                    }
                                </ul>
                            </td>
                            <td style="text-align: center;">
                                @if (booking.CheckInDate.Date <= DateTime.UtcNow.Date)
                                {
                                    <a asp-area="Administration" asp-controller="ActiveBookings" asp-action="Status" asp-route-id="@booking.Id" class="genric-btn primary">Change status</a>
                                }
                                <form style="display: inline;" method="post" asp-area="Administration" asp-controller="ActiveBookings" asp-action="Cancel" id="deleteForm_@booking.Id" asp-route-id="@booking.Id"></form>
                                <button style="display: inline-block;" id="deleteBtn" class="genric-btn danger" data-toggle="modal" data-target="#deleteModal_@booking.Id">Cancel</button>
                                <div>
                                    @if (booking.ActualCheckIn != null)
                                    {
                                        <strong>Actual check in: </strong>@booking.ActualCheckIn?.Date.ToShortDateString()<br />
                                    }

                                    @if (booking.ActualCheckOut != null)
                                    {
                                        <strong>Actual check out: </strong>@booking.ActualCheckIn?.Date.ToShortDateString()<br />
                                    }

                                    <strong>Is paid:</strong> @booking.IsPaid
                                </div>
                            </td>
                        </tr>
                            <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal_@booking.Id">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h4>Do you want to delete @booking.Username booking?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="genric-btn primary" onclick="document.getElementById('deleteForm_@booking.Id').submit()">Yes</button>
                                            <button type="button" class="genric-btn default" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }

                </tbody>
            </table>
        }
        else
        {
            <p>No bookings found.</p>
        }

         <hr />
        <a asp-area="Administration" asp-controller="ActiveBookings" asp-action="Search" class="genric-btn primary">Add</a>
    </div>
</section>
<br />