@model AccommodationSearchInputModel<HotelManagementSystem.Web.ViewModels.Area.Administration.ManageBookings.AccommodationViewModel>
@{
    this.ViewData["Title"] = "Search available bookings";
}

<section id="general">

    <div class="content-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="welcome col-md-6">
        <form method="get">
            <div class="form-group row">
                <label asp-for="CheckIn"></label>
                <input asp-for="CheckIn" type="date" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="CheckOut"></label>
                <input asp-for="CheckOut" type="date" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="GuestsCount"></label>
                <input asp-for="GuestsCount" class="form-control" />
                <span asp-validation-for="GuestsCount" class="text-danger"></span>
            </div>

            <div class="justify-content-center">
                <button class="genric-btn primary mx-auto d-block">Search</button>
            </div>
        </form>
    </div>

    @if (Model.Accommodations != null)
    {
        var accommodationsCount = 0;

        <hr />
        <h3>Found results:</h3>

        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col">View</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Create booking</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var accommodation in Model.Accommodations)
                {
                    accommodationsCount++;

                    <tr style="text-align: center;">
                        <th scope="row" style="vertical-align: middle;">@accommodationsCount</th>
                        <td style="vertical-align: middle;"><img src="/general/image/rooms/@accommodation.ImageName" alt="@accommodation.Name" style="width: 100px; height: 100px; object-fit: cover;" /></td>
                        <td style="vertical-align: middle;">@accommodation.Name</td>
                        <td style="vertical-align: middle;">$@((accommodation.Price * Model.Days).ToString("f2"))</td>
                        <td style="vertical-align: middle;">
                            <form method="get" asp-action="Add">
                                <input type="hidden" asp-for="CheckIn" />
                                <input type="hidden" asp-for="CheckOut" />
                                <input type="hidden" asp-for="GuestsCount" />
                                <input type="hidden" id="Price" name="Price" value="@(accommodation.Price * Model.Days)" />
                                <input type="hidden" id="Id" name="Id" value="@accommodation.Id" />
                                <input type="submit" value="Create a new book" class="genric-btn primary" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <hr />
        <p>No bookings found.</p>
    }
</section>
<br />

<script>
    $(document).ready(function () {
        $('#CheckIn').datetimepicker({
            lang: 'en',
            timepicker: false,
            closeOnDateSelect: true,
            dateFormat: "yy/mm/dd"  
        });
    });
</script>